html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
p {
  white-space: pre-wrap;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(50, 58, 72);
    /* background: rgb(78, 82, 88); */
    background: whitesmoke;
  }
}
